.AboutPage {
  padding: 80px 0;

  .Block {
    display: flex;
    justify-content: space-between;
    .imagesBlock {
      position: relative;

      .images {
        width: auto;
        height: auto;

        position: relative;
      }

      &::before {
        content: "";
        position: absolute;
        border: 3px solid rgba(33, 33, 33, 1);
        transform: translate(-10px, -10px);
        width: 493px;
        height: 496px;
        top: 115px;
        left: -70px;
        gap: 0px;
        border: 3px 0px 0px 0px;
        opacity: 0.8px;
      }
    }

    .textBlock {
      max-width: 500px;
      margin-top: 75px;

      h3 {
        color: #4a90e2;
        font-weight: bold;
        font-size: 25px;
        font-weight: 700;
        line-height: 32px;
        padding: 15px;
        text-align: left;
      }

      h1 {
        font-weight: bold;
        margin: 10px 0;
        font-size: 52px;
        font-weight: 500;
        line-height: 64px;
        text-align: left;
        padding: 10px;
      }
      .P {
        font-weight: bold;
        font-size: 25px;
        font-weight: 400;
        line-height: 32px;
        text-align: left;
      }

      p {
        padding: 10px;

        color: #666;
        line-height: 1.6;
        font-size: 16px;
        font-weight: 400;
        line-height: 32px;
        text-align: left;

        &:first-of-type {
          margin-bottom: 10px;
        }
      }
    }
  }

  .T {
    text-align: center;
    margin: 10pc;
    font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS",
      sans-serif;
    font-size: 48px;
    font-weight: 500;
    line-height: 58.22px;
  }

  .OurTeam {
    display: flex;
    flex-direction: column;
    gap: 40px;

    .TeamGrid,
    .TeamGrid2 {
      display: flex;
      gap: 20px;
      justify-content: space-between;

      .TeamMember {
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 100%;
        max-width: 280px;
        text-align: center;
        background-color: #fff;
        border-radius: 8px;
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);

        img {
          width: 100%;
          height: auto;
          border-top: 8px;
        }

        h1 {
          font-size: 1rem;
          margin: 10px 0 5px;
          padding: 6px;
        }

        h3 {
          font-size: 0.9rem;
          color: rgba(123, 106, 255, 0.5);
          padding: 6px;
        }
      }
    }
  }

  @media (max-width: 830px) {
    padding: 60px 0 ;

    .Block {
      display: flex;
      justify-content: center;
      align-items: center;
       gap: 20px;
      .imagesBlock {
        .images {
          img{
            width: 400px;
            
          }
        }
        &::before {
          display: none;
        }
      }

      .textBlock {
        max-width: 80%;
        margin-top: 30px;
        text-align: start;

        h1 {
          font-size: 24px;
          line-height: 46px;
        }

        .P,
        p {
          font-size: 18px;
          line-height: 28px;
        }
      }
    }

    .T {
      font-size: 26px;
      margin: 40px 0;
    }

    .OurTeam {
      gap: 30px;

      .TeamGrid,
      .TeamGrid2 {
        gap: 15px;

        .TeamMember {
          max-width: 100%;
          padding: 15px;
          img {
            max-width: 90%;
            margin: 0 auto;
          }
        }
      }
    }
  }

  // Адаптация для мобильных устройств
  @media (max-width: 540px) {
    padding: 30px 0;

    .Block {
      flex-direction: column;
      .textBlock {
        order: 1;
        max-width: 100%;
        margin-top: 30px;

        h1 {
          font-size: 38px;
          line-height: 46px;
        }

        .P,
        p {
          font-size: 18px;
          line-height: 28px;
        }
      }

      .imagesBlock {
        order: 2;
        width: 100%;
        display: flex;
        justify-content: center;

        .images {
          width: 100%;
          max-width: 90%;
          margin: 0 auto;

          img {
            width: 100%;
            height: auto;
            object-fit: cover;
          }
        }

        &::before {
          display: none;
        }
      }
    }

    .T {
      font-size: 22px;
      margin: 30px 0;
    }

    .OurTeam .TeamGrid,
    .OurTeam .TeamGrid2 {
      flex-direction: column;
      display: flex;
      gap: 30px;

      .TeamMember {
        max-width: 100%;
        padding: 10px;
        img {
          max-width: 80%;
        }
      }
    }
  }
}
