#Exams {
  padding: 100px 0;
  .Exams_text {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    flex-direction: column;
    gap: 30px;
    h1 {
      font-size: 48px;
      font-weight: 500;
      line-height: 58.22px;
      color: #212121;
    }
    p {
      width: 675px;
      font-size: 20px;
      font-weight: 400;
      line-height: 24.38px;
      color: #010d39;
    }
  }
  .Exams {
    padding: 100px 0;
    display: flex;
    align-items: start;
    justify-content: space-between;
    .Exams_blocks {
      display: flex;
      flex-direction: column;
      align-items: start;
      gap: 30px;
      .Exams_block {
        width: 579px;
        height: 170px;
        background: #ffffff;
        border: 1px solid #bbbbbb;
        display: flex;
        align-items: center;
        border-radius: 5px;
        .Exams_block_text {
          display: flex;
          flex-direction: column;
          align-items: start;
          gap: 10px;
          h4 {
            width: 60px;
            height: 22px;
            background: #0075ff26;
            border-radius: 4px;
            color: #002ac0;
            font-size: 16px;
            font-weight: 400;
            text-align: center;
          }
          h2 {
            font-size: 24px;
            font-weight: 500;
            line-height: 21.94px;
            color: #001254;
            width: 243px;
          }
          p {
            color: #010d39;
            font-size: 15px;
            font-weight: 400;
            line-height: 14.63px;
          }
        }
      }
    }
    .Exasm_text {
      display: flex;
      flex-direction: column;
      align-items: start;
      background: #ffffff;
      height: 566px;
      width: 466px;
      box-shadow: 5px 8px 24px 0px #00000026;
      border-radius: 8px;
      a {
        font-size: 16px;
        font-weight: 600;
        color: #002ac0;
      }
      h2 {
        font-size: 18px;
        font-weight: 500;
        color: #001254;
      }
      p {
        width: 375px;
        font-size: 16px;
        font-weight: 400;
        line-height: 14.63px;
        color: #000000;
      }
      h4 {
        text-align: center;
        font-size: 18px;
        font-weight: 500;
        color: #1AA2EE;
      }
      .Exams_mar4ik {
        display: flex;
        flex-direction: column;
        padding-left: 30px;
        gap: 20px;
      }
    }
  }
}
