#Main {
  padding: 100px 0;
  .Main {
    display: flex;
    align-items: start;
    justify-content: space-between;
    .Main_right {
      background: radial-gradient(
          circle at 30% 30%,
          rgba(255, 99, 71, 0.5),
          transparent 50%
        ),
        radial-gradient(
          circle at 70% 70%,
          rgba(147, 112, 219, 0.5),
          transparent 50%
        );
      border-radius: 20px;
      width: 600px;
      height: 600px;
      img {
        z-index: 99;
      }
    }
    .Main_text {
      display: flex;
      flex-direction: column;
      align-items: start;
      gap: 50px;
      position: relative;
      a {
        font-size: 24px;
        font-weight: 600;
        color: #5609bbcc;
      }
      h1 {
        font-size: 64px;
        font-weight: 600;
        line-height: 78.4px;
        width: 491px;
      }
      p {
        font-size: 18px;
        font-weight: 400;
        line-height: 24px;
        color: #606060;
        width: 393px;
        padding-bottom: 50px;
      }
      .Main_blocks {
        width: 821px;
        height: 104px;
        background: #ffffff;
        box-shadow: 2px 6px 5px 1px #b2b2b240;
        box-shadow: -2px 2px 9px 1px #53535340;
        position: absolute;
        border-radius: 80px;
        bottom: -200px;
        display: flex;
        align-items: center;
        justify-content: space-around;
        .Main_block {
          display: flex;
          align-items: center;
          gap: 20px;
          .Main_block_text {
            display: flex;
            flex-direction: column;
            gap: 5px;
            label {
              font-size: 15px;
              font-weight: 400;
              text-transform: uppercase;
            }
            input {
              border: none;
              width: 149px;
              height: 21px;
              font-size: 17px;
              font-weight: 400;
              outline: none;
            }
            input::placeholder {
              color: #bbbbbb;
            }
          }
        }
        button {
          width: 209px;
          height: 59px;
          border-radius: 80px;
          background: #109fef;
          font-size: 17px;
          font-weight: 500;
          color: white;
          border: none;
          cursor: pointer;
        }
      }
    }
  }
}
