.list {
    display: flex;
    flex-direction: column;
    align-items: start;
    margin-top: 100px;
    gap: 30px;
    .item {
        width: 100%;
        padding: 15px 80px 15px 30px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        box-shadow: 0px 0px 24px 0px #0000000D;

        div {
            display: flex;
            flex-direction: column;
            gap: 10px;
            align-items: start;
            font-size: 20px;
            font-weight: 500;
            line-height: 24.38px;
            .title {
                color:#B5B5B5;
            }
            .value {
                color: black;

            }
        }

        .marg {
            .value {
                font-size: 28px;
                color: #1AA2EE !important;
            }
        }
    }
}


@media (max-width: 1034px) {
    .list {
        .item {
            padding: 15px 80px 15px 30px;
            box-shadow: 0px 0px 24px 0px #0000000D;
            >img {
                width: 100%;
                max-width: 200px;
                height: auto;
            }
            div {
                font-size: 18px;
            }
    
            .marg {
                .value {
                    font-size: 25px;
                }
            }
        }
    }
}
@media (max-width: 834px) {
    .list {
        .item {
            padding: 15px 80px 15px 30px;
            box-shadow: 0px 0px 24px 0px #0000000D;
            >img {
                width: 100%;
                max-width: 160px;
                height: auto;
            }
            div {
                font-size: 16px;
                &:nth-child(4) {
                    // display: none;
                }
            }
    
            .marg {
                .value {
                    font-size: 22px;
                }
            }
        }
    }
}
@media (max-width: 750px) {
    .list {
        .item {
            padding: 15px 80px 15px 30px;
            box-shadow: 0px 0px 24px 0px #0000000D;
            >img {
                width: 100%;
                max-width: 140px;
                height: auto;
            }
            div {
                font-size: 16px;
                &:nth-child(4) {
                    display: none;
                }
            }
    
            .marg {
                .value {
                    font-size: 22px;
                }
            }
        }
    }
}
@media (max-width: 620px) {
    .list {
        .item {
            padding: 15px 80px 15px 30px;
            display: grid;
            gap: 0;
            grid-template-areas: 
                "img p"
                "img d";
        
            // Устанавливаем высоту для grid элемента
            height: 100%; // Или укажите конкретную высоту, если необходимо
        
            > img {
                width: 100%; // Изображение занимает 100% ширины
                height: 100%; // Изображение занимает 100% высоты контейнера
                object-fit: cover; // Сохраняет пропорции изображения и обрезает, если нужно
                grid-area: img; // Удалены кавычки
                justify-self: center; // Центрирует изображение по горизонтали
                align-self: center; // Центрирует изображение по вертикали
            }
        
            div {
                padding: 0;
                margin: 0;
                gap: 0;
                font-size: 14px;
        
                &:nth-child(2) {
                    grid-area: d; // Здесь правильно указано 'd'
                }
                
                &:nth-child(3) { // Исправлено на nth-child(3)
                    grid-area: p; // Замените на правильный grid-area
                }
            }
        
            .marg {
                .value {
                    font-size: 20px;
                }
            }
        }
        
    }
}
@media (max-width: 475px) {
    .list {
        .item {
            padding: 15px 30px;
            > img {
                width: 128px;
                height: auto;    
            }
        
            div {
                font-size: 12px;
            }
        
            .marg {
                .value {
                    font-size: 16px;
                }
            }
        }
        
    }
}
@media (max-width: 475px) {
    .list {
        .item {
            padding: 5px;
            > img {
                width: 128px;
                height: auto;    
            }
        
            div {
                font-size: 12px;
            }
        
            .marg {
                .value {
                    font-size: 16px;
                }
            }
        }
        
    }
}