* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Gill sans", sans-serif;
}

html {
  color-scheme: white;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}

.container {
  width: 100%;
  max-width: 1280px;
  margin: 0 auto;
  padding-inline: 20px;
}

.App {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  min-height: 100vh;
}

::-webkit-scrollbar {
  display: none;
}
